@import '../../variables.scss';
.page_pokemon {
  justify-content: flex-start;
  align-items: center;
  gap: 3rem;
  .image {
    max-width: 40rem;
    width: 100%;
    object-fit: contain;
    background-color: $BG_COLOR;
  }
  .pokemon-wrapper {
    padding: 2rem;
    display: flex;
    border-radius: 2rem;
    overflow: hidden;
  }
}
.aside {
  padding: 0 2rem;
}
.properties-list {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  .property {
    > * {
      font-size: 2rem;
    }
  }
}
.pokemon-stats {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}
