.poster {
  width: 100%;
  border-radius: 20px;
}

.details {
  display: flex;
  gap: 20px;
  font-size: 20px;
  justify-content: center;
  font-family: Oswald;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .details {
    flex-direction: row;
  }
}

.details-text {
  background-color: lightgrey;
  border-radius: 20px;
}

.details-text p {
  margin: 20px;
}
