@import '../../variables.scss';
.header {
  width: 100%;
  padding: 0 2rem;
  border-bottom: 3px solid $BG_COLOR;
  &__nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  &__item {
    > * {
      text-align: center;
      font-size: 2rem;
      position: relative;
      padding: 2rem;
      width: 16rem;
      transition: all 0.3s;
    }
  }
}

.nav-link1.active,
.nav-link1:hover {
  background-color: $LINK_COLOR_1;
  color: white;
}
.nav-link2.active,
.nav-link2:hover {
  background-color: $LINK_COLOR_1;
  color: white;
}
