.card {
  position: relative;
  /* width: 100%; */
}

.card img:hover {
  opacity: 85%;
}

.title {
  position: absolute;
  background-color: grey;
  border-radius: 5px;
  height: 50px;
  max-width: 300px;
  top: 10px;
  left: 10px;
}

.movieImage {
  height: 100%;
  width: 100%;
  border: 1px solid grey;
  border-radius: 20px;
}

.year {
  position: absolute;
  top: 15px;
  left: 10px;
}

.like {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 25px;
  cursor: pointer;
}

.watched {
  position: absolute;
  bottom: 10px;
  left: 20px;
}
