.header {
  width: 100%;
  height: 12vh;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.link {
  text-decoration: none;
}

.header-buttons {
  display: flex;
  gap: 20px;
}

.heading {
  display: flex;
  gap: 5px;
  font-family: "Oswald";
  border-radius: 5px;
  background-color: lightgrey;
  padding: 3px 10px;
  height: 50px;
  align-items: center;
}

@media screen and (max-width: 800px) {
  .header {
    flex-direction: column;
    gap: 10px;
    height: 20vh;
  }

  .heading {
    font-size: 12px;
    height: 100%;
    display: flex;
    justify-content: center;
  }

  .header-buttons {
    justify-content: space-between;
  }
}
