* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Caveat', cursive;  
  font-family: 'Shippori Antique', sans-serif;
  font-family: 'League Spartan', Arial, Helvetica, sans-serif;
}

body {
  background-color: #f2f2f2;
  font-size: 22px;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.wrap {
  flex-wrap: wrap;
}

.wrapper {
  max-width: 1100px;
  background-color: #ffffff;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 20px;
  padding: 20px 30px;

  @media (max-width: 500px) {
    margin-top: 10px;
    border-radius: 5px;
    padding: 5px;
  }
}

.header {
  justify-content: space-between;
  background-color: #ffffff;

  @media (max-width: 500px) {
    flex-direction: column;
    margin-bottom: 20px;
  }

  &_logo {
    width: 200px;
  }

  &_nav-item {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: block;
    padding: 10px 15px;
    min-width: 130px;
    cursor: pointer;
    background-color: #f2f2f2;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    margin-right: 20px;
 
    @media (max-width: 500px) {
      margin: 0 10px;
      padding: 10px 25px;
    }
  }
}

.top {  
  align-items: flex-end;

  &_btn {
    display: block;
    position: fixed;
    top: 50%;
    right: 20px;
    height: 75px;
    width: 75px;
    border-radius: 50%;    
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    background-color: darken(#f2f2f2, 15%);
    border: 2px solid #e6e6e6;
    border-color: darken(#e6e6e6, 15%);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.title {
  text-align: center;
  text-transform: uppercase;
  color: rgba(#000000, 0.8);
}

.main {
  margin: 0 auto;

  @media (max-width: 500px) {
    .wrapper {
      margin-top: 10px;
      padding: 0;
    }
  }
}

.card {
  margin: 10px;
  padding: 10px 15px 5px 15px;
  border: 2px solid #e6e6e6;
  background-color: #ccffcc;
  border-radius: 5px;
  min-height: 120px;
  min-width: 150px;
  flex-direction: column;
  text-align: center;
  
  &:hover {
    box-shadow: 0px 10px 20px rgba(#000000, 0.08);
  }

  @media (max-width: 500px) {
    margin: 5px;
    padding: 10px;
    min-height: auto;
    min-width: auto;
  }

  &_name {
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;

    @media (max-width: 500px) {
      font-size: 18px;
      font-weight: 400;
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }

  &_btn {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    display: block;
    padding: 8px 18px;
    cursor: pointer;
    background-color: #f2f2f2;
    border: 2px solid #e6e6e6;
    border-radius: 5px;

    &-pushed {
      background-color: darken(#f2f2f2, 15%);
      border-color: darken(#e6e6e6, 15%);
    }
  }

  &_details {
    flex-direction: row;

    @media (max-width: 768px) {
      flex-direction: column;

      .card_img {
        max-width: 400px;
        max-height: 400px;
      }
    }
    
    @media (max-width: 400px) {
      .card_img {
        max-width: 250px;
        max-height: 250px;
      }
    }
  }
}
