@import '../Styles//mixins/mixins.scss';
.main{
  @include flex(row);
  flex-wrap: wrap;
  justify-content: space-around;
  .card{
    width: 150px;
    height: 150px;
    border-radius: 15px;
    margin: 20px;
    background-color: beige;
    padding: 20px;
    @include flex;
    justify-content: center;
    .card-wrapper{
      background-color: inherit; 
      width: 90%;
      height: 90%;
      @include flex(column);
      .card-link{
        background-color: inherit;
        text-decoration: none;
        cursor: pointer;
        .card-text{
          background-color: inherit;
          color: #5F76A8;
          font-weight: 100;
        }      
      }
      .catch-button{
        border-radius: 10px;
        border: none;
        align-self: center;
      }
    }
  }
}